/* Formatações gerais */
body {
  font-family: 'Roboto', sans-serif;
  width: 90%;
  margin: 0 auto;
}


h1 {
    font-size: 28px;
    font-weight: bold;
    transition: 400ms;
}

h2 {
  font-size: 25px;
  font-weight: bold;
  transition: 400ms;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  transition: 400ms;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #000000;
  transition: 400ms;
}

img {
  border-radius: 5px;
}

.centralizado {
  text-align: center;
}